.submit-btn {
    width: 18rem;
    background-color: #20B2AA;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1.2rem auto;
    display: block;
}

.submit-btn:hover {
    background-color: #189b9b;
}